NODE_ENV=production
PORT=3000
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=desafio-afya
JWT_SECRET=secret
JWT_EXPIRES=1h 
REFRESH_TOKEN_EXPIRES=7d
PGADMIN_DEFAULT_EMAIL=[seu email]
PGADMIN_DEFAULT_PASSWORD=[sua senha] 